// background colors //

$main-bg-color:#ffffff;

$light-bg-color-1: #ffffff80;
$light-bg-color-2: #fafafa;
$light-bg-color-3: #f7f8fa;

$vivid-bg-color-1:#e9d758;
$vivid-bg-color-2: #da5f60e6;
$vivid-bg-color-3: #e56768;
$vivid-bg-color-4: #db2a2c;

$dark-bg-color-1: #000000;
$dark-bg-color-2:#454545;
$dark-bg-color-3: #3d404f;
$dark-bg-color-4: #000000cc;

//text colors //

$main-light-text-color: #ffffff;
$main-dark-text-color: #000000;

$light-text-color-1: #ffffffcc;

$vivid-text-color-1: #e9d758;
$vivid-text-color-2: #79b530;
$vivid-text-color-3: #e56768;

$grey-text-color-1: #8b8b8a;
$grey-text-color-2: #7f7f7f;
$grey-text-color-3: #74777b;
$grey-text-color-4: #70727e;
$grey-text-color-5: #5c5e6c;
$grey-text-color-6: #434959;

$dark-text-color-1: #454545;
$dark-text-color-2: #3d404f;
$dark-text-color-3: #3f3f3f;
$dark-text-color-4: #223441;
$dark-text-color-5: #252525;
$dark-text-color-6: #151515;

// fill colors //

$main-fill-color: #ffffff;
$secondary-fill-color: #000000;

$fill-color-1: #69de89;
$fill-color-2: #82b541;
$fill-color-3: #e56768;


// border colors // 

$main-border-color: #ffffff;
$secondary-border-color:#000000;

$border-color-1: #ececee;
$border-color-2: #e5ecef;
$border-color-3: #eaeaea;
$border-color-4: #e9d758;
$border-color-5: #cccccc;
$border-color-6: #79b530;
$border-color-7: #e56768;





